<!DOCTYPE html>
<head>
    <title>Palemona's Game Log</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/011353830e.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body >
  <div id="games">
  <header>
    <h1 class="main-title">PALEMONA'S GAME LOG</h1>
  </header>
  <nav class="filters">
    <div class="consoles">     
      <button class="btn btn-link console sort" v-on:click="sortFunc()"><i :class="arrow"></i> SORT</button>
      <button class="btn btn-link console" v-for="console in menuconsoles" v-on:click="filter(console.name)">{{console.name}}</button>
      <button class="btn btn-link console" v-on:click="filter('')">all</button>
    </div>
    <input type="text" v-model="search_name" placeholder="keyword">  
  </nav>
  <nav class="filters_status">
    <div class="consoles status">  
      <span style="padding: 1px 10px;">Status: </span>   
      <button class="btn btn-link console" v-for="status in menustatus" v-on:click="filter(status.name)">{{status.name}}</button>
      <button class="btn btn-link console" v-on:click="filter('')">all</button>
    </div>
  </nav>

  
    <section class="games" >
      <transition-group name="fade" tag="div" class="all_cards" mode="out-in">
        <div class="game_card" v-for="element in filteredItems" :key="element.name">
          <div class="title">
          <h3 class="game_title">{{element.name}}</h3>
          </div>
          <img class="game_img" :src='"imgs/covers/"+element.img' />
          <div class="game_info">
           <ul>
               <li>{{element.console}}</li>
               <li>{{element.status}}</li>
           </ul>
           <div class="game_stats">
               <div class="game_progress">
               <label for="onegame">Progress:</label>
               <progress id="onegame" class="onegame" :value="element.progress" max="100"> {{element.progress}}% </progress>
               <div style="width: 30px">{{element.progress}}%</div>
               </div>
               <div class="game_progress">
               <label for="fullgame" class="fullgamelabel">Total:</label>
               <progress id="fullgame" class="fullgame" :value="element.fullprogress" max="100"> {{element.fullprogress}}% </progress>
               <div style="width: 30px">{{element.fullprogress}}%</div>
               </div>
               <div class="game_stars">              
                <span class="fa fa-star checked" v-for="stars in element.stars"></span>
               </div>
           </div>
          </div>
      </div>
    </transition-group>
     </section>
     
</div>
<button onclick="topFunction()" id="top_button" title="Go to top" ><span class="fa fa-chevron-up"></span></button>
<script src="game_list.js"></script>
<script src="master.js"></script>
<a href="https://gitlab.com/Palemona" data-title="by Palemona" id="credit">
  <svg version="1.1" id="Layer_1" width="24" fill="#fff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="471.3518 2.2063 1944.5809 1704.2247" enable-background="new 471.3518 2.2063 1944.5809 1704.2247" xml:space="preserve"
    >
  <path d="M2350.2393,158.1748c-5.0859-23.5078-13.5498-43.4277-25.1553-59.2065c-11.9902-16.4072-29.2705-29.2495-48.6563-36.1616
    c-15.0801-5.4404-32.3848-8.1992-51.4355-8.1992c-6.1221,0-12.5791,0.2832-19.1895,0.8408
    c-25.5352,2.2466-52.3076,8.1172-81.8467,17.9473c-54.3477,18.1973-105.7998,45.5605-155.5586,72.0234l-0.6504,0.3452
    c-14.5254,7.8628-29.3789,15.6899-43.7422,23.2588c-13.6504,7.1934-27.7656,14.6313-41.5742,22.0864
    c-44.5957,24.2129-95.7031,53.3179-137.8369,92.4028c-17.127,16.0908-34.0918,33.812-50.4238,52.6719
    c-15.3037,17.6709-30.5391,36.9063-45.2852,57.1714c-24.4414,33.7764-48.4004,71.3877-73.2441,114.9839
    c-23.6133,41.436-45.6328,84.1299-64.0586,120.4272c-10.3027,19.3867-22.7822,41.5537-40.5703,59.396
    c0.8525-4.8379,1.8809-9.7524,2.877-14.5078c3.0215-14.4365,6.1465-29.3638,4.8438-44.397
    c-0.6768-9.0459-3.583-18.4917-8.6357-28.0737c20.5898-40.6646,38.7676-83.2778,56.3457-124.4883
    c7.1523-16.7656,14.5469-34.1025,22.001-51.0654c1.5869-3.5103,3.1572-7.105,4.6768-10.5811
    c5.3535-12.2534,10.8906-24.9243,18.2031-36.4033c0.3105-0.5166,0.6221-1.0332,0.9346-1.5518
    c5.8037-9.6338,11.8066-19.5957,13.3545-30.9258c1.0625-7.8403-2.1885-16.0889-8.6943-22.0645l-0.0791-0.0728l-0.0459,0.0967
    c-1.918,3.9541-3.4395,8.1577-4.9111,12.2231c-0.9844,2.7183-2.002,5.5288-3.1289,8.2422
    c-15.8262,40.9468-34.5029,81.4624-52.5654,120.644c-10.834,23.502-22.0371,47.8047-32.5068,71.9448
    c-3.4043,7.4473-5.5391,15.4966-7.6025,23.2808c-2.6201,9.8804-5.3291,20.0972-10.6592,29.1333
    c-4.9033,8.2275-12.1152,13.6611-19.7734,14.9067c-8.5977-0.0859-17.3008-5.0801-22.7139-13.0347
    c-6.2295-8.9292-9.6709-19.3413-12.999-29.4102c-2.0586-6.2271-4.1865-12.666-6.9541-18.6978
    c-7.3799-16.1133-14.9902-32.2197-22.1514-47.3359c-9.6396-20.2764-18.4414-42.106-26.9102-66.7373
    c-0.874-2.4512-1.7441-4.9082-2.6162-7.3682c-11.7559-33.1763-23.9121-67.4814-45.9424-95.7476l-0.0381-0.0488l-3.6387,1.5884
    l0.0166,0.0654c8.835,35.1567,22.3691,68.4751,35.6777,99.2441c8.9922,20.5425,18.6074,41.228,27.9063,61.2324
    c17.6846,38.0454,35.9707,77.3838,50.75,117.4229c-0.7305,1.5615-1.7021,3.0288-2.6426,4.4487
    c-1.2285,1.8545-2.498,3.7725-3.251,5.9248c-5.042,11.5771-3.293,24.6938-0.6514,37.1421c0.4375,2.3374,0.9561,4.7344,1.4561,7.0527
    c2.0361,9.4302,4.1416,19.1787,1.8809,28.7524c-33.9092-66.793-71.2285-137.8452-114.3154-204.9683
    c-19.3433-30.2349-39.3203-58.9014-59.376-85.2031c-21.625-28.3604-44.1646-55.0542-66.9927-79.3408
    c-28.8398-30.9521-56.8179-56.3301-85.5317-77.584c-35.354-26.498-75.3115-51.4966-129.5596-81.0542
    c-31.7109-17.1323-73.6396-39.2295-116.7612-58.1982c-22.3022-9.752-42.1411-17.5908-60.6499-23.9639
    c-22.1597-7.6304-42.709-13.2979-62.8228-17.3262c-21.8486-4.2651-45.0933-6.6597-69.0908-7.1167
    c-0.311-0.0015-0.6201-0.002-0.9321-0.002c-28.9321,0-50.7749,5.9492-66.7803,18.1919
    c-15.7275,13.6499-24.4761,33.1108-30.959,50.3477c-10.3413,28.3667-16.4009,60.1602-18.0098,94.4966
    c-1.1167,26.4624,0.6426,49.9043,5.3789,71.667c4.29,18.25,14.7974,33.8462,24.9585,48.9287
    c5.0684,7.5234,10.3091,15.3027,14.7065,23.3086c6.6934,11.2808,12.0396,24.5859,16.8242,41.873
    c12.2256,43.5132,18.8901,88.8931,25.3354,132.7793c4.9189,33.4922,10.0049,68.125,17.5288,101.707
    c4.1021,17.48,7.8672,30.6494,12.21,42.7002c5.5176,15.3115,11.8672,28.3384,19.4111,39.8247
    c9.6987,14.7964,23.6729,27.4766,40.4111,36.6689c10.2441,5.6792,21.4897,10.3193,34.3784,14.1841
    c10.6709,3.1997,22.5586,5.8735,36.3438,8.1743c22.6772,3.6455,44.9233,5.375,63.6938,6.5864
    c10.6289,0.6846,21.4512,1.2778,31.9175,1.8521c37.1606,2.0386,75.5864,4.146,112.8901,10.7246
    c1.4868,0.3008,2.9204,0.7891,4.2539,1.2803c-14.9653,9.6694-30.3306,19.2642-45.1909,28.5425
    c-25.9873,16.2266-52.8599,33.0049-78.4834,50.748c-49.8862,34.415-86.2549,66.5361-114.4541,101.0869
    c-9.0757,11.3945-18.5684,23.6289-26.1191,36.8994l-0.0103,0.0371c-0.5259,25.6689,0.8984,52.9834,4.6177,88.5654
    c8.0811,73.7803,24.8901,144.8701,44.4019,223.5l0.0596,0.2383c13.9409,55.9063,28.3564,113.7148,49.1631,168.5039
    c13.3545,34.6582,26.8882,61.7236,42.5913,85.1758c10.0024,15.5156,23.2017,29.7412,39.2314,42.2842
    c16.8862,13.0586,32.5259,21.6113,47.8125,26.1465c6.835,2.0918,14.311,3.1094,22.855,3.1094c3.5269,0,7.1772-0.1709,11.1616-0.5234
    c21.8872-2.2988,44.8008-10.1045,68.1035-23.2002c24.9331-13.6406,48.1831-32.1807,69.105-55.1074
    c28.334-30.9473,54.0771-67.9551,81.0151-116.4658c20.7251-37.4854,39.6768-77.7021,57.9375-122.9512
    c14.8291-36.3301,28.2808-76.001,39.981-117.9111c5.1533-18.1279,10.1104-36.6396,14.9053-54.542
    c7.9951-29.8555,16.2627-60.7275,25.6777-90.7256c11.5605-36.293,26.5693-78.5039,50.2441-116.4629
    c5.377,21.6592,5.1572,44.3838,4.9443,66.3613c-0.0264,2.7139-0.0527,5.5195-0.0693,8.2715
    c-0.0869,6.1318-0.2324,12.3721-0.374,18.4053c-0.457,19.6016-0.9307,39.8701,0.5156,59.7686
    c0.9727,12.3574,2.7109,26.7617,8.2344,39.8945c4.0742,9.4707,10.4941,16.6172,18.0752,20.1221
    c4.7041,2.1475,9.917,3.2363,15.4941,3.2354c5.668,0,11.5469-1.1631,17.002-3.3633c12.5488-5.4863,18.2793-17.9756,20.5781-24.9316
    c5.0498-15.2383,5.749-31.8193,6.0088-46.165c0.1904-13.6318-0.2939-27.4805-0.7627-40.874
    c-0.5215-14.915-1.0615-30.3379-0.6699-45.5166c0.6563-18.623,1.9805-38.25,10.1318-55.5693
    c22.084,52.7959,40.1777,108.1182,57.6758,161.6201l0.6729,2.0596c2.8291,8.7461,5.6973,17.6426,8.4707,26.2451
    c16.3584,50.7441,33.2734,103.2148,51.6631,154.2188c17.9072,49.3896,42.8193,113.9736,76.8096,175.5195
    c13.4717,24.1338,26.7568,45.0098,40.6143,63.8213c16.0273,21.7559,32.4229,40.2529,50.125,56.5488
    c17.0498,15.7676,37.9014,29.4297,61.9756,40.6074c21.2051,9.5391,40.5586,15.0967,59.166,16.9883
    c3.9473,0.4307,7.9014,0.6484,11.752,0.6484c12.2598,0,23.6582-2.1563,33.875-6.4072
    c19.0557-7.6611,36.6582-21.6729,53.8145-42.8379c12.5576-15.5303,24.0381-33.7998,36.1299-57.4951
    c21.0088-41.7197,35.8262-85.2529,47.5498-122.335c16.2588-52.6182,27.623-93.4473,36.8486-132.3838
    c21.4863-89.7715,33.9941-182.7197,37.1748-276.2617l0.001-0.0244l-0.0127-0.0205c-11.1748-18.1592-24.5527-36.1035-39.7627-53.3359
    c-14.0342-15.9014-30.001-31.6182-47.458-46.7148c-22.6221-19.3086-43.3945-34.6543-63.5039-46.9131
    c-10.4434-6.4893-21.2783-12.8047-31.7559-18.9121c-28.416-16.5625-57.7939-33.6855-82.6816-56.1895
    c18.4287-1.269,37.1934-2.0679,55.3438-2.8413c12.7813-0.5439,25.998-1.1069,38.9863-1.8291
    c49.9268-2.7495,94.8408-5.834,138.9316-15.7734c22.2012-5.3218,47.7305-12.8594,68.7461-28.4106
    c14.168-10.6758,25.3633-26.5273,35.2295-49.8853c10.4902-24.9985,16.7471-50.9946,22.752-77.6509
    c1.0508-4.96,2.1338-10.0005,3.1807-14.8745c3.0508-14.1953,6.2051-28.8735,8.9424-43.3818
    c3.292-18.0894,5.8711-36.6016,8.3652-54.5044c1.3828-9.9302,2.8135-20.1982,4.3496-30.2749
    c6.4824-42.0781,13.8389-82.8955,32.4092-119.6919c3.7393-7.5576,7.7939-15.127,11.7148-22.4468
    c7.6152-14.2173,15.4893-28.9185,21.4316-44.2378c7.7041-19.7031,11.7393-39.313,11.9951-58.2852
    C2356.8828,203.1455,2354.8281,179.4941,2350.2393,158.1748z"/>
  </svg>
  </a>
  </body>
</html>