:root {
    /*⭐ START here change default colors ⭐*/
    /*border color of the game cards*/
    --card-border-color: #fceaff; 
    /*background color of the game cards*/
    --card-bg-color: rgba(224, 255, 255,0.2);
    /*text color of the game cards*/
    --card-text-color: #fff;
    /*shadow color of the game cards, if you don't want a shadow then type 'transparent' without the comas*/
    --text-shadow-color: #fff;
    /*color accent of the title and menu links*/
    --color-accent: #E0FFFF;
    --color-accent2: #a6f8f8;
    /*background color for the first progress bar*/
    --color-bar1: #ADFF2F;
    /*background color for the second progress bar*/
    --color-bar2: #00CED1;
    /*color for the rating stars*/
    --color-stars: #fceaff;
    /*background color of the page if you don't set an image*/
    --color-background: #000;
     /*⭐ FINISH here change default colors ⭐*/
  }

@font-face {
    font-family: 'levi';
    src: url('https://dl.dropboxusercontent.com/s/83ubfevitfua7ww/Windows%20Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    word-spacing: 0px;
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), auto !important;} /* End https://www.cursors-4u.com */

::-webkit-scrollbar {
    width: 5px;          
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
}

.iframe-controls--desktop {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'levi';
    background-color: var(--color-background);
    background-image: url("imgs/1.gif");   
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

ul, label, p {
    margin-bottom: 0px;
}

header {
    margin: 20px auto;
    width: 80%;
}

.filters {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    padding: 0px 100px;
    z-index: 10;
}

.filters_status {
    display: flex;
    justify-content: start;
    margin: 0 auto;
    width: 85%;
    padding: 0px 100px;
    z-index: 9;
}

.filters.active {
    background: var(--card-bg-color);
    backdrop-filter: blur(10px);   
    -webkit-backdrop-filter: blur(10px);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 0px;
    z-index: 100;
}

.filters input {
    width: 200px;
    height: 34px;
    border: 1px var(--card-border-color) solid;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    color: var(--color-accent);
    font-size: 16px;
}

.filters input:focus {
    border: 3px var(--card-border-color) solid;
}

.filters input::placeholder {
    color: var(--color-accent);
    opacity: 0.7;
}

.sort i {
    font-size: 20px;
}
.consoles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-accent);
}

.status {
    justify-content: flex-start !important;
}

.consoles .btn-link {
    padding: 1px 10px;
    font-size: 16px;
    color: var(--color-accent);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.consoles .btn-link:hover, .consoles .btn-link:focus {
    color: var(--color-accent);
    text-decoration: none;
    text-shadow: 0px 0px 5px #fff;
}

.main-title {
    text-align: center;
    color: var(--color-accent);
}

.games {
    width: 85%;
    margin: 50px auto;
    margin-bottom: 400px;
}
.all_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game_card {
    width: 240px;
    height: 400px;
    border: 1px var(--card-border-color) solid;
    background-color: var(--card-bg-color);
    backdrop-filter: blur(5px);   
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 10px;
    color: var(--card-text-color);
    text-shadow: 0px 0px 5px var(--text-shadow-color);
    margin: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.game_card:hover {
    color: var(--color-accent);
}

.game_card:hover .game_img {
    filter: brightness(1.1);
}

.title {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game_title {
    font-size: 18px;
    text-align: center;  
}

.game_img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    filter: brightness(0.9);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.game_info {
    font-size: 12px;
}

.game_info ul {
    display: flex; 
    justify-content: space-around;
    margin: 10px 0px;
}

.game_info ul li {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0px 5px;
    border-radius: 10px;
}

.game_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 12px;
}

.game_stats .game_progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.game_stats label {
    width: 50px;
    font-size: 12px;
}

.game_stats progress {
    height: 10px;
    width: 120px;
    border-radius: 0px;
    border: 1px gray double;
    
}

.fullgamelabel {
    letter-spacing: 4px;
}
progress::-webkit-progress-bar {
    background-color: lightgray;
}

.onegame::-webkit-progress-value {
    background-color: var(--color-bar1);
  }

.fullgame::-webkit-progress-value{
    background-color: var(--color-bar2);
}
.fullgame::-moz-progress-bar {
    background-color: dodgerblue;

}

.game_stars {
    font-size: 14px;
    color: gray;
    margin: 10px 0px;
    width: 80%;
    text-shadow: none;
    display: flex;
    justify-content: space-evenly;
}

.checked {
    color: var(--color-stars);
}

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to{
    transform: scale(0.0);
    opacity: 0;
  }

  #top_button{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    color: var(--color-accent);
    z-index: 105;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 50%;
    background-color: var(--card-bg-color);
}

#top_button span {
    letter-spacing: 0px;
}

/*---- CREDIT -----*/

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -0.5em;
    font-size: 12px;
    padding: 4px 4px 4px 8px;
    color: var(--color-accent);
    background-color: var(--card-bg-color);
    white-space: nowrap; 
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
    transition: all .3s ease;
}

#credit {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 12px;
    color: var(--color-accent); 
}

.fade-enter, .fade-leave-to {
	opacity: 0;
    transform: translateY(-80px);
    transform: scale(0.0)
}

.fade-leave-active {
	 position: absolute;
}

@media only screen and (max-width: 769px) {
    .filters{
        flex-direction: column;
        align-items: center;
    }
}    